@page
@model RazorModel
@{
    ViewData["Title"] = "Razor";
    Layout="Razor_Layout.cshtml";

}

<h1>@ViewData["Title"]</h1>

    <p>This is a simple test</p><img src="Razor/assets\img\DoleBananas.png">

